body {
  background-color: #8FDCFF;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("https://i.ytimg.com/vi/5znji1uGNIs/maxresdefault.jpg");
  background-size: cover;
  color: #fff;
}

label {
	display: inline-block;
}

input {
	display: block;
}

a {
    color: white;
}

.popup{
    background-color:black;
    position: absolute;
    border: solid 2px white;
    width: 575px;
    min-height:auto;
    z-index:5000;
    top:100px;
    margin-left:auto;
    margin-right:auto;
    left:0px;
    right:0px;
}

.overlayBg{
    background-color:#333;
    opacity: 0.5;
    position: absolute;
    z-index:1000;
    top:0px;
    left:0px;
    width:100%;
    min-height:100%;
}

#videoResults {
  margin: 0 auto;
}

.thumbnail:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,0.6);
}

.btn-box {
    display: inline-block;
}

#prevBtn, #nextBtn {
    padding: 10px;
}

#prevBtn {
    margin-right: 100px;
}

#prevBtn:hover {
    cursor: pointer;
}

#nextBtn {
    padding: 10px;
}

#nextBtn:hover {
    cursor: pointer;
}

.thumbnail {
    width: 100%;
}

.poster {
    width: 100%;
}

#submit:hover {
    cursor: pointer;
}

.imdb {
    font-size: 30px;
}

#meta {
    font-size: 30px;
}

#plt {
    margin-top: 45px;
}

#info {
    margin-top: 35px;
}

.mcrit {
    text-transform: uppercase;
}


