body {
  background-color: #8FDCFF;
}

label {
	display: inline-block;
}

input {
	display: block;
}

.popup{
    background-color:black;
    position: absolute;
    border: solid 2px white;
    width: 575px;
    min-height:auto;
    z-index:5000;
    top:100px;
    margin-left:auto;
    margin-right:auto;
    left:0px;
    right:0px;
}

.overlayBg{
    background-color:#333;
    opacity: 0.5;
    position: absolute;
    z-index:1000;
    top:0px;
    left:0px;
    width:100%;
    min-height:100%;
}

#videoResults {
  margin: 0 auto;
  /*width: 1140px;*/
  /*height: 100%;*/
}

.thumbnail:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,0.6);
}

.btn-box {
    display: inline-block;
}

.thumbnail {
    width: 100%;
}


